/venv/
/.idea/
/log/*.log
/results/*.xlsx

/settings/general_settings/*
!/settings/general_settings/.dummy

/settings/train_settings/*
!/settings/train_settings/.dummy

/results/documentation_images/*
!/results/documentation_images/initialisation/.dummy

